body {
    background: #ccc;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    display: block;
}

.profile {
    margin: 46px;
}

img {
    max-width: 150px;
    border-radius: 50%;
}
